body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(234, 29%, 20%);
  height: 100vh;
}

main {
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(331deg, rgba(255, 98, 87, 0.622) 0%, rgba(255, 255, 255, 0.858) 100%);
}

.content {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px rgba(0, 0, 0, 0.07) 0px 2px 4px rgba(0, 0, 0, 0.07) 0px 4px 8px rgba(0, 0, 0, 0.07) 0px 8px 16px rgba(0, 0, 0, 0.07) 0px 16px 32px rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 60px 34px;
  display: flex;
  flex-direction: column;
  height: 590px;
  gap: 1rem;
  border-radius: 20px;
}
.content .title {
  font-size: 52px;
  font-weight: 700;
}
.content .info-paragraph {
  margin-top: 6px;
}

.info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 8px;
}
.info div {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
form .form-label {
  font-weight: 700;
  text-align: left;
  font-size: 10px;
  display: block;
}
form .form-input {
  width: 100%;
  padding-left: 14px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid hsla(235, 18%, 26%, 0.332);
}
form .form-input::-moz-placeholder {
  opacity: 0.5;
}
form .form-input::placeholder {
  opacity: 0.5;
}
form .form-input:focus {
  outline: none;
}
form #textEmail {
  font-weight: 500;
  color: #ba0505;
}
form #button {
  width: 100%;
  color: #fff;
  background-color: rgba(54, 56, 78, 0.773);
  transition: 0.3s;
  height: 2.4rem;
  border-radius: 6px;
  border: none;
}
form #button:hover {
  height: 5.5vh;
  background-color: rgb(45, 48, 89);
}

.modal {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 22vw;
  height: 52vh;
  border-radius: 15px;
  padding: 38px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.modal .icon_correct {
  width: 14%;
}
.modal .title_thanks {
  font-weight: 700;
  margin-top: 10px;
  font-size: 42px;
}
.modal .info_confimation {
  margin-top: 10px;
}

.footer_modal {
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer_modal .button_24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  opacity: 0.8;
}
/* Responsive */
@media screen and (max-width: 850px) {
  body {
    overflow: hidden;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
  }
  .content {
    height: 520px;
  }
  .imagem_content {
    height: 180px;
    width: 380px;
    position: relative;
  }
  .image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
}
@media screen and (max-width: 425px) {
  main {
    height: 100%;
    border-radius: 0px;
    padding-top: 0px;
  }
  .content {
    height: 550px;
    padding-top: 0px;
  }
  .content .imagem_content {
    height: 30vh;
    width: 380px;
    position: relative;
  }
  .content .imagem_content .image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
}
@media screen and (max-width: 393px) {
  .content {
    height: 510px;
  }
  .content .info-paragraph {
    margin-top: 4px;
  }
  form {
    margin-top: 20px;
  }
  .imagem_content {
    height: 30vh;
    width: 340px;
    position: relative;
  }
}
@media screen and (max-width: 360px) {
  .imagem_content {
    height: 20vh;
    width: 340px;
    position: relative;
  }
}/*# sourceMappingURL=style.css.map */